#addTask{
    border-style: solid;
    border: steelblue;
}

  .w3-panel{
      margin: 10px 0px 0px 0px;
      border-radius: 5px;
      padding: 12px 8px 12px 10px;
      background-color: #27a1d1;
      text-align: justify;

  }
  
  .col-6{
      margin-left: 120px;
  }
  .form-control{
      margin-bottom: 30px;
  }
  .container{
      margin-top: 10px;
      padding: 0px 40px 0px 40px;
  }
  .container p{
      text-align: left;
      position: relative;
      background-color: #f1f5f7;
      border-radius: 5px;
      font-size: 15px;
      padding: 0px 8px 10px 20px;
      
}
p{
    margin-bottom: 0px;
}
.w3-large{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.btn-primary{
    background-color: #33a6d3;
    margin-right: 5px;
    

}
/*p span.statusbtn {
    position: absolute;
    right: 10px;
    
}*/
span button.btn.btn-primary{
    
    
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
    display: inline;
    font-size: 16px;
    
    
}
button.btn.btn-secondary{
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
    margin-right: 5px;
    
}
input.form-control{
    margin: 0px;
}
div#todoItems{
    background-color: #d8e8ee;
}