
.addtask{
    padding: 0px;
    margin: 0px 30px;
}
#addbutton{
    border-radius: 70%;
    
}
#addcollapse{
    display: flex;
    align-items: center;
    justify-content: center;
}
  @media (max-width: 770px) {
    #add-text {
      margin-bottom: 15px;
    }
    #add-date, #chkbox{
        margin-bottom: 15px;
    }
    
  }