
.addtask{
    padding: 0px;
    margin-left: 0px;
}
#chkbox{
    padding: 0px;
}

  @media (max-width: 770px) {
    #add-text {
      margin-bottom: 15px;
    }
    #add-date, #chkbox{
        margin-bottom: 15px;
    }
    
  }