.App {
  text-align: center;
  background-color: white;
}


/* .App {
  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
} */
.card {
  display: flex;
  margin: auto;
  width: 60%;
  border-style: none;
  padding:  20px 50px;
}
.add-task{
  display: flex;
  align-items: center;
  justify-content: center;
  
  
}

main{
  max-width: 60%;
  margin: auto;
  padding: 20px 20px 0px 20px;
}
@media (max-width: 992px) {
  .card {
    width: 70%;
  }
}
@media (max-width: 1232px) {
  .card {
    width: 60%;
  }
}
@media (max-width: 770px) {
  .card {
    width: 90%;
  }
}
@media (max-width: 992px) {
  .add-task {
    width: 90%;
  }
}
@media (max-width: 1232px) {
  .add-task{
    width: 60%;
  }
}
@media (max-width: 770px) {
  .add-task {
    width: 100%;
  }

}