#footerpage {
    position: relative;
    min-height: 200px;
  }
footer{
    background-color: #def6ff;
    color: #3a3a3a;
    width:100%;
    position:absolute;
    bottom: 0px;

}
.btn.btn-outline-white.btn-rounded{
    color:white;
    background-color: #27a1d1;
}